{% load static %}
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9271139556688903",
    enable_page_level_ads: true
  });
</script>
    </head>
    <body>
        <nav class="light-blue darken-4">
            <div class="nav-wrapper" >
                <a href="/" class="brand-logo"><i class="material-icons">center_focus_strong</i>Blog</a>
                <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if user.is_authenticated %}            
            <ul class="right hide-on-med-and-down"> 
            <li><a href="{% url 'post_new' %}">Add Post<i class="material-icons left">add</i></a></li>
            <li><a href="/logout"><i class="material-icons right">exit_to_app</i>Logout</a></li>
            <li><i class="material-icons right ">account_circle</i>{{ user.username }}</li> 
            </ul>      
                {% else %}
            <ul class="sidenav" id="mobile-demo">
                <ul class="right hide-on-med-and-down">                
                <li><a href="/login">Login<i class="material-icons left">person_pin</i></a></li>
                <li><a href="/register">Register<i class="material-icons left">account_circle</i></a></li>
            </ul>  </ul></ul>
            {% endif %}

        </div>  
        </nav>
            <ul class="sidenav" id="mobile-demo">
        {% if user.is_authenticated %}
        <li><a href="{% url 'post_new' %}">Add Post<i class="material-icons left">add</i></a></li>
        <li><a href="/logout"><i class="material-icons right">exit_to_app</i>Logout</a></li>
        <li><i class="material-icons right ">account_circle</i>{{ user.username }}</li> 
        {% else %}
        <li><a href="/login">Login<i class="material-icons left">person_pin</i></a></li>
        <li><a href="/register">Register<i class="material-icons left">account_circle</i></a></li>
        {% endif %}
  </ul>
            {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script>M.toast({html: "{{message}}", classes: 'green rounded', displayLength:2000});</script>
            {% elif message.tags == 'info'%}
                <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
            {% elif message.tags == 'warning'%}
                <script>M.toast({html: "{{message}}", classes: 'orange rounded', displayLength:10000});</script>
            {% elif message.tags == 'error'%}
                <script>M.toast({html: "{{message}}", classes: 'red rounded', displayLength:10000});</script>
                {% endif %}
        {% endfor %}
        {% endif %}

        
            <div class="container">
                <br>
                {% load static %}

                {% block content %}
                {% endblock %}
            </div>
    </body>
</html>