{% extends 'blog/base.html' %}

{% block content %}

    <div class="post">
        <img src="{{ post.image_url }}">
        {% if post.published_date %}
            <div class="date" >
                {{ post.published_date }}
            </div>
        {% endif %}

        <div class="col-md-8">
        <h2 style="color:#f4415f;">{{ post.title }} </h2>
            <div  class="card-panel light-blue lighten-5">
        <p style="color:#6a1b9a;">{{ post.text|linebreaksbr }}</p>
    </div>
     </div>
    </div>
            {% if user.is_authenticated and user == post.author %}
            <a class="waves-effect waves-light btn left" href="{% url 'post_edit' pk=post.pk %}">Edit<i class="material-icons right">brush</i></a>
        {% endif %}
{% endblock %}